<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lavyoung.marketforge.infrastructure.persistent.dao.behavior.IUserBehaviorRebateOrderDao">

    <resultMap id="userBehaviorRebateOrderResultMap"
               type="com.lavyoung.marketforge.infrastructure.persistent.po.behavior.UserBehaviorRebateOrderPO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_id" property="orderId"/>
        <result column="behavior_type" property="behaviorType"/>
        <result column="rebate_type" property="rebateType"/>
        <result column="rebate_config" property="rebateConfig"/>
        <result column="biz_id" property="bizId"/>
        <result column="out_business_no" property="outBusinessNo"/>
        <result column="order_time" property="orderTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


</mapper>