<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lavyoung.marketforge.infrastructure.persistent.dao.activity.IActivityAccountMonthDao">

    <resultMap id="activityAccountMonthResultMap"
               type="com.lavyoung.marketforge.infrastructure.persistent.po.activity.ActivityAccountMonthPO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="month" property="month"/>
        <result column="month_count" property="monthCount"/>
        <result column="month_count_surplus" property="monthCountSurplus"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="activityAccountMonthColumns">
        id, user_id, activity_id, month, month_count, month_count_surplus, version, create_time, update_time
    </sql>

    <select id="queryByUserIdAndActivityIdAndMonth" resultMap="activityAccountMonthResultMap">
        SELECT
        <include refid="activityAccountMonthColumns"/>
        FROM raffle_activity_account_month
        WHERE user_id = #{userId}
        AND activity_id = #{activityId}
        AND month = #{month}
        LIMIT 1
    </select>

</mapper>
